@import url("https://fonts.googleapis.com/css?family=K2D");

/* Menu Css */

.menu__toggler {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 999;
    height: 28px;
    width: 28px;
    outline: none;
    cursor: pointer;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.menu__toggler span,
.menu__toggler span::before,
.menu__toggler span::after {
    position: absolute;
    content: '';
    width: 28px;
    height: 2.5px;
    background: #ab1906;
    border-radius: 20px;
    -webkit-transition: 500ms cubic-bezier(0.77, 0, 0.175, 1);
    transition: 500ms cubic-bezier(0.77, 0, 0.175, 1);
}

.menu__toggler span::before {
    top: -8px;
}

.menu__toggler span::after {
    top: 8px;
}

.menu__toggler.active>span {
    background: transparent;
}

.menu__toggler.active>span::before,
.menu__toggler.active>span::after {
    background: #ab1906;
    top: 0px;
}

.menu__toggler.active>span::before {
    -webkit-transform: rotate(-225deg);
    transform: rotate(-225deg);
}

.menu__toggler.active>span::after {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
}


/*
 * SLIDING MENU PANEL
 */

.menu {
    position: absolute;
    left: -30%;
    top: 0;
    z-index: 998;
    background: #ab1906;
    -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
    width: 30%;
    height: 100%;
    padding: 100px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-transition: 300ms left cubic-bezier(0.77, 0, 0.175, 1);
    transition: 300ms left cubic-bezier(0.77, 0, 0.175, 1);
}

.menu a {
    color: #f4f4f4;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    .menu {
        width: 250px;
        left: -250px;
        padding: 50px;
    }
}

.menu.active {
    left: 0;
}


/*
 * BASIC STYLES
 */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'K2D', sans-serif;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.twitter {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
}


/* Footer Css */

.footer {
    background: #ab1906;
    width: 100%;
    position: absolute;
    bottom: 0;
    color: white;
}

.footer .links li a {
    color: white;
    -webkit-transition: color .2s;
    opacity: 0.8;
    transition: color .2s;
}

.footer .links li a:hover {
    text-decoration: none;
    opacity: 1;
}

.footer .about-company i {
    font-size: 25px;
}

.footer .about-company a {
    color: white;
    -webkit-transition: color .2s;
    transition: color .2s;
}

.footer .about-company a:hover {
    color: #ffffff;
}

.footer .location i {
    font-size: 18px;
}

.footer .copyright p {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}