{% extends 'base.html' %} {% load static %}
{% block body_block %}

<section class="about-us-section p-4">
    <div class='container'>
        <div class="about-us-content mb-4 p-3">
            <h1 class="display-4">About Us</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam praesentium possimus illo quo modi ullam
                iusto nostrum sed magnam, quod amet ut recusandae voluptatum sunt, voluptas laboriosam ducimus obcaecati
                molestias!</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam praesentium possimus illo quo modi ullam
                iusto nostrum sed magnam, quod amet ut recusandae voluptatum sunt, voluptas laboriosam ducimus obcaecati
                molestias!</p>
        </div>
        <div class="about-us-story mb-4 p-3">
            <h1 class="display-4">Our Story</h1>
            <div class="our-story-content row">
                <div class="story-img col-lg-6 col-md-12">
                    <img src="{% static 'images/home-message/msg.png' %}" alt="">
                </div>
                <div class="story-content col-lg-6 col-md-12">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum,
                        nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec
                        congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis
                        sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus conguet.</p>
                </div>
            </div>
        </div>
    <div>
</section>

<section class="our-team-section">
    <div class="container py-5">
        <div class="row text-center">
            <div class="col-lg-8 mx-auto">
                <h1 class="display-4 p-3">Our Team</h1>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row text-center">
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="https://d19m59y37dris4.cloudfront.net/university/1-1-1/img/teacher-7.jpg" alt=""
                        width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Rohan Raghuvanshi</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                    class="fa fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="https://d19m59y37dris4.cloudfront.net/university/1-1-1/img/teacher-4.jpg" alt=""
                        width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Riya Jawandhiya</h5><span class="small text-uppercase text-muted">CEO -
                        Founder</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                    class="fa fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                    src="https://d19m59y37dris4.cloudfront.net/university/1-1-1/img/teacher-4.jpg" alt=""
                    width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Pratiksha Likhar</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                    class="fa fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="https://d19m59y37dris4.cloudfront.net/university/1-1-1/img/teacher-1.jpg" alt=""
                        width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Prateek Patil</h5><span class="small text-uppercase text-muted">CEO -
                        Founder</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                    class="fa fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock body_block %}