{% extends 'base.html' %} {% load static %}
{% block css_block %}
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
{% endblock css_block %}
{% block body_block %}

<section class="login-section">

    <div class="login-page">
  		<div class="form">
            <h2 class="pb-3">Contact Us</h2>
			<form class="contact-form" method="POST">
            {% csrf_token %}
					{{ form.name }}
                    {{ form.phone }}
                    {{ form.email }}
                    {{ form.text }}
				<button type="submit" class="btn-lrg submit-btn">Send Message</button>
        </form>
  		</div>
	</div>
</section>        
            
{% endblock body_block %} {% block footer %} {% endblock footer %}