{% load static %}{% block body_block %}

        <form class="" method="POST">
            {% csrf_token %}
            <h1>Contact Us</h1>
            <label>{{ form.name }}</label><br>
            <label>{{ form.phone }}</label><br>  
            <label>{{ form.email }}</label><br>
            <label>{{ form.text }}</label><br>  
            <button type="submit">Submit</button>
            {% comment %} <p class="message">Not registered? <a href="{% url 'userconsole:register' %}"> Register!</a></p> {% endcomment %}
        </form>
    </div>
{% endblock body_block %} {% block footer %} {% endblock footer %}