{% extends 'base.html' %}{% load static %}

{% block css_block %}
    <link rel="stylesheet" href="{% static 'css/swiper/swiper.min.css' %}">
{% endblock css_block %}
{% block body_block %}
    <section class="slider-section">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {% for slider in  sliders %}
                <div class="swiper-slide" style="background-image: url('{{ slider.image.url }}');">
                    <div class="slide-wrapper">
                        <div class="slider-content">
                            <h1>{{ slider.heading }}</h1>
                            <p>{{ slider.subheading }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </section>

     <section class="about-section pt-5 pb-5">
	    <div class="container">
	    	<div class="main_title">
	    		<h1>Who We Are</h1>
	    	</div>
	    	<div class="row">
            {% for a in aboutus %}
	    		<div class="col-lg-4 col-md-12">
	    			<div class="about-item">
	    				<h4>{{ a.name }}</h4>
	    				<p class="pb-2">{{ a.text }}</p>
	    			</div>
	    		</div>
            {% endfor %}
	    	</div>
	    </div>
    </section>

    <section class="message-section pt-5 pb-5">
        <div class="container">
            <div class="main_title">
	    		<h1>Messages</h1>
	    	</div>
            <div class="message-swiper-container">
                <div class="swiper-wrapper">
                {% for msg in messages %}
                    <div class="swiper-slide">
                        <div class="col-lg-6 col-md-12">
							<div class="message-picture pb-3">
								<img src="{{ msg.image.url }}" alt="picture here">
							</div>
						</div>
						<div class="col-lg-6 col-md-12">
							<div class="message-content">
								<h2>{{ msg.name }}</h2>
								<h5 class="pb-2">{{ msg.post }}</h5>
								<p>{{ msg.message }}</p>
							</div>
						</div>
                    </div>
                {% endfor %}      
                </div>
            </div>
        </div>    
    </section>
    
    <section class="blog-section pt-5 pb-5">
        <div class="container">
            <div class="main_title">
                <h1>Latest Posts From Blog</h1>
                <p>This section will be added afterwards</p>
            </div>
            {% comment %} <div class="row">
                <div class="col-lg-4  pt-3 pb-3">
                    <div class="index_blog_item">
                        <div class="index_blog_img">
                            <img class="img-fluid" src=" {% static 'images/home-blog/home-blog-1.jpg' %}" alt="">
                        </div>
                        <div class="index_blog_text">
                            <div class="date">
                                <a href="#">25 October, 2017 | By Mark Wiens</a>
                            </div>
                            <a href="#">
                                <h4>Addiction When Gambling Becomes A Problem</h4>
                            </a>
                            <p>Computers have become ubiquitous in almost every facet of our lives. At work, desk jockeys spend hours in front of their desktops, while delivery people scan bar codes with handhelds and workers in the field stay</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 pt-3 pb-3">
                    <div class="index_blog_item">
                        <div class="index_blog_img">
                            <img class="img-fluid" src="{% static 'images/home-blog/home-blog-2.jpg' %}" alt="">
                        </div>
                        <div class="index_blog_text">
                            <div class="date">
                                <a href="#">25 October, 2017 | By Mark Wiens</a>
                            </div>
                            <a href="#">
                                <h4>Make Myspace Your Best Designed Space</h4>
                            </a>
                            <p>Computers have become ubiquitous in almost every facet of our lives. At work, desk jockeys spend hours in front of their desktops, while delivery people scan bar codes with handhelds and workers in the field stay</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 pt-3 pb-3">
                    <div class="index_blog_item">
                        <div class="index_blog_img">
                            <img class="img-fluid" src="{% static 'images/home-blog/home-blog-3.jpg' %}" alt="">
                        </div>
                        <div class="index_blog_text">
                            <div class="date">
                                <a href="#">25 October, 2017 | By Mark Wiens</a>
                            </div>
                            <a href="#">
                                <h4>Video Games Playing With Imagination</h4>
                            </a>
                            <p>Computers have become ubiquitous in almost every facet of our lives. At work, desk jockeys spend hours in front of their desktops, while delivery people scan bar codes with handhelds and workers in the field stay</p>
                        </div>
                    </div>
                </div>
            </div> {% endcomment %}
        </div>
    </section>
{% endblock body_block %}

{% block script_block %}
    <script src="{% static 'js/swiper/swiper.min.js' %}"></script>
    <script src="{% static 'js/swiper/indexswiper.js' %}"></script>
{% endblock script_block %}