{% extends 'base.html' %}{% load static %}

{% block css_block %}
    <link rel="stylesheet" href="{% static 'css/swiper/swiper.min.css' %}">
    
{% endblock css_block %}
{% block body_block %}
    <section class="slider-section">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image: url('{% static 'images/slider/1.jpg' %}');">
                    <div class="slide-wrapper">
                        <div class="slider-content">
                            <h1>OUR GREATEST DISCOVERY IS YOU</h1>
                            <p>Sub-heading here</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" style="background-image: url('{% static 'images/slider/2.jpg' %}');">
                    <div class="slide-wrapper">
                        <div class="slider-content">
                            <h1>WE'RE LUCKY TO HAVE HAD YOU</h1>
                            <p>Sub-heading here</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" style="background-image: url('{% static 'images/slider/3.jpg' %}');">
                    <div class="slide-wrapper">
                        <div class="slider-content">
                            <h1>Heading here</h1>
                            <p>Sub-heading here</p>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </section>

        <section class="blog_area pt-5 pb-5">
        <div class="container">
            <div class="main_title">
                <h1>Latest Posts from Blog</h1>
            </div>
            <div class="row latest_blog_inner">
                <div class="col-lg-4">
                    <div class="index_blog_item">
                        <div class="index_blog_img">
                            <img class="img-fluid" src=" {% static 'images/home-blog/home-blog-1.jpg' %}" alt="">
                        </div>
                        <div class="index_blog_text">
                            <div class="date">
                                <a href="#">25 October, 2017 | By Mark Wiens</a>
                            </div>
                            <a href="#">
                                <h4>Addiction When Gambling Becomes A Problem</h4>
                            </a>
                            <p>Computers have become ubiquitous in almost every facet of our lives. At work, desk jockeys spend hours in front of their desktops, while delivery people scan bar codes with handhelds and workers in the field stay</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="index_blog_item">
                        <div class="index_blog_img">
                            <img class="img-fluid" src="{% static 'images/home-blog/home-blog-2.jpg' %}" alt="">
                        </div>
                        <div class="index_blog_text">
                            <div class="date">
                                <a href="#">25 October, 2017 | By Mark Wiens</a>
                            </div>
                            <a href="#">
                                <h4>Make Myspace Your Best Designed Space</h4>
                            </a>
                            <p>Computers have become ubiquitous in almost every facet of our lives. At work, desk jockeys spend hours in front of their desktops, while delivery people scan bar codes with handhelds and workers in the field stay</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="index_blog_item">
                        <div class="index_blog_img">
                            <img class="img-fluid" src="{% static 'images/home-blog/home-blog-3.jpg' %}" alt="">
                        </div>
                        <div class="index_blog_text">
                            <div class="date">
                                <a href="#">25 October, 2017 | By Mark Wiens</a>
                            </div>
                            <a href="#">
                                <h4>Video Games Playing With Imagination</h4>
                            </a>
                            <p>Computers have become ubiquitous in almost every facet of our lives. At work, desk jockeys spend hours in front of their desktops, while delivery people scan bar codes with handhelds and workers in the field stay</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock body_block %}

{% block script_block %}
    <script src="{% static 'js/swiper/swiper.min.js' %}"></script>
    <script>
    var swiper = new Swiper('.swiper-container', {
    cssMode: true,
    navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
    },
    pagination: {
        el: '.swiper-pagination'
    },
    mousewheel: true,
    keyboard: true,
});</script>
{% endblock script_block %}