{% extends 'base.html' %}{% load static %}
{% block body_block %}
<section class="profile-page pt-5">
	<div class="container">
		<div class="profile-details row">
			<div class="profile-image col-lg-6 pb-3">
				<img src="{{ profile.profilepic.url }}" alt="">
			</div>
			<div class="profile-text col-lg-6 p-3">
				<div class="personal-details">
					<h1>{{ profile.user.first_name }} {{ profile.user.last_name }}</h1>
					<p>{{profile.profession}}</p>
				</div>
				<div class="user-bio pb-3">
					<p>{{ profile.bio | linebreaks }}</p>
				</div>
				<div class="general-info">
					<h5>General Info</h5>
					<ul>
						<li><span>Address</span>{{ profile.user.address.house_number }}
							{{ profile.user.address.locality }}, {{ profile.user.address.city }},
							{{ profile.user.address.state }}</li>
						<li><span>Email</span>{{ profile.user.email }}</li>
						<li><span>Phone</span>{{ profile.phone }}</li>
					</ul>
				</div>
				<div class="social-links pt-2">
					<a href="{{ profile.github }}" class="fa fa-lg fa-github"></a>
					<a href="{{ profile.facebook }}" class="fa fa-lg fa-facebook"></a>
					<a href="{{ profile.linkedin }}" class="fa fa-lg fa-linkedin"></a>
					<a href="{{ profile.instagram }}" class="fa fa-lg fa-instagram"></a>
					<a href="{{ profile.twitter }}" class="fa fa-lg fa-twitter"></a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="experience-section pt-5">
	<div class="container">
		<h1 class="pb-5 section-title">Experience</h1>
		{% for e in experiences %}
		
		<div class="experience pb-4">
			<div class="experience-title">
				<h3>{{ e.experience }}</h3>
				<p>Fourcode Software Sources</p>
			</div>
			<div class="experience-desc">
				<small>May 2019 - June 2019</small>
				<p class="pt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate nemo odio eaque
					ducimus reprehenderit vero, beatae repellat voluptate ad totam, aut expedita suscipit animi magni
					ipsam dolorum. Sapiente, aperiam.</p>
				</div>
			</div>
		{% endfor %}

		<a href="#" class="add-experience pb-4"> + Add Experience</a>

	</div>
</section>

<section class="education-section pt-5">
	<div class="container">
		<h1 class="pb-5 section-title">Education</h1>

		{% for e in education %}
		<div class="experience pb-4">
			<div class="experience-title">
				<h3>{{ e.institution_name }}</h3>
				<div class="experience-desc">
					<small>{{ e.start_date }} - {{ e.end_date }}</small>
				</div>
				<p>{{ e.program_name }}, {{ e.branch }}</p>
				<p style="color:#ff1100"> CGPA - {{ e.cgpa}}</p>
			</div>
		</div>
		{% endfor %}
		<a href="#" class="add-experience pb-4"> + Add Education</a>
	</div>
</section>

<section class="achievements-section pt-5">
	<div class="container">
		<h1 class="pb-5 section-title">Achiements and Certificates</h1>

		<ul class="achievements-list pb-4">
			{% for a in achievements %}
			<li><i class="fa fa-trophy text-warning p-2"> </i> {{ a.achievement }}</li>
			{% endfor %}
		</ul>
		<a href="#" class="add-experience pb-4"> + Add Achiement</a>
	</div>
</section>

<section class="skills-section pt-5">
	<div class="container">
		<h1 class="pb-5 section-title">Skills and Hobbies</h1>
		<div class="row">

			<div class="col-lg-6">
				<h3>Skills</h3>
				<ul class="achievements-list pb-4">
					{% for s in skills %}
					<li>{{ s.skill }}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<a href="#" class="add-experience pb-4"> + Add Skills</a>
	</div>
</section>

{% endblock body_block %}