{% extends 'base.html' %}
{% load static %}

{% block css_block %}
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
{% endblock css_block %}

{% block body_block %}


<section class="login-section">

    <div class="login-page">
  		<div class="form">
			<form class="login-form" method="POST" enctype=multipart/form-data>
				{% csrf_token %}
				<h2 class="pb-3">Upload your picture</h2>
				<div class="logoContainer">
					<img src="{% static 'images/profilepic/default.jpeg' %}" class="pb-3">
				</div>
				<div class="fileContainer sprite mb-2">
					<span>Choose file</span>
					{{form.profilepic}}
				</div>
				<button type='submit'>Upload</button>
			</form>
  		</div>
	</div>
</section>
{% endblock body_block %}

{% block script_block %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="{% static 'js/profile_pic.js' %}"></script>

{% endblock script_block %}
{% block footer %}
{% endblock footer %}