{% extends 'base.html' %}{% load static %}
{% block css_block %}
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
{% endblock css_block %}
{% block body_block %}
<section class="login-section">
<div class="login-page">
<div class="form">
        <h1 class="pb-3">Register!</h1>
<form class="login-form" method="POST" enctype=multipart/form-data>
        {% csrf_token %}
        {{ form.first_name }}
        {{ form.last_name }}
        {{ form.username }}
        {{ form.email }}
        {{ form.password }}
        {{ form.confirm_password }}<br>
        <button type="submit">Register</button>
        <p class="message">Already registered? <a href="{% url "profiles:login" %}">Log In</a></p>
</form>
</div>
</div>
</section>
{% endblock body_block %}

{% block footer %}
{% endblock footer %}